/**
  * Coffee
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes coffee {
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}

@keyframes coffee {
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}

.coffee {
  background: #fff;
  display: grid;
  border-radius: 4px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 64px;
  position: relative;
  width: 60px;
  padding: 2px;
  justify-items: center;
}

.coffee:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  height: 34px;
  width: 22px;
  border: 6px solid #fff;
  position: absolute;
  top: 45%;
  margin-top: -13px;
  margin-left: -10px;
  left: 100%;
  border-radius: 6px;
}

.coffee div {
  height: 28px;
  width: 10px;
  border-radius: 2px;
  background: #fff;
  opacity: .7;
  -webkit-animation: coffee 2s infinite;
  animation: coffee 2s infinite;
}

.coffee div:nth-child(1) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.coffee div:nth-child(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.coffee div:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}