@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .hover-opacity {
    @apply hover:opacity-70 transition-all ease-in-out duration-500
  }
  .hover-anim {
    @apply transition-all ease-in-out duration-500
  }
  .router-link-exact-active {
    @apply text-green no-underline
  }
  .input-style {
    @apply outline-none bg-transparent border border-gray rounded-lg text-white focus:border-green focus:ring-1 focus:ring-green transition-all ease-in-out duration-500
  }
  .btn-primary {
    @apply bg-green text-white w-28 py-2 rounded-lg mt-3 hover-opacity flex justify-center items-center
  }

  a {
    @apply no-underline transition duration-300 text-gray
  }
}

.imgBox {
  display: inline-block;
  overflow: hidden !important;
}

.imgBox img {
  transition: .3s ease-in-out;
}

.imgBox:hover img {
  opacity: 0.6;
  filter: alpha(opacity=30);
  transform: scale(1.3);
}
