.imgBox {
  display: inline-block;
  overflow: hidden !important;
}

.imgBox img {
  transition: .3s ease-in-out;
}

.imgBox:hover img {
  opacity: 0.6;
  filter: alpha(opacity=30);
  transform: scale(1.3);
}


/*** MODAL STYLE ***/
@keyframes background-in {
  0% {
    scale: 0 0.005;
  }

  33% {
    scale: 1 0.005;
  }

  66%,
  100% {
    scale: 1 1;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(1, 1);
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.open.modal-background {
  visibility: visible;
  opacity: 1;
  animation: background-in 1s both;
}

@keyframes modal-in {

  0%,
  66% {
    opacity: 0;
    visibility: hidden;
    translate: -50% -30%;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 91.6%;
  background: #37353b;
  color: #f9f9f9;
  border-radius: 12px;
  translate: -50% -50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.open.modal {
  opacity: 1;
  visibility: visible;
  animation: modal-in 1s;
}

.closed.modal {
  opacity: 0;
  visibility: hidden;
  translate: -50% -50%;
}

@media (min-width: 768px) {
  .modal {
    width: 62%;
  }
}

@media (min-width: 1536px) {
  .modal {
      width: 50%;
  }
}
/*** END MODAL STYLE  ***/